<!DOCTYPE html>
<html>

<head>
    <title>New York Client</title>
    <script>
        const wsNearestClient = new WebSocket('ws://localhost:5000');
        wsNearestClient.onopen = function () {
            wsNearestClient.send(JSON.stringify({ "latitude": 24.0000, "longitude": 45.0000, "state": "apk" }));
        };
        wsNearestClient.onmessage = function (event) {
            const data = JSON.parse(event.data);
            console.log(data)
        };

    </script>
</head>

<body>
    <h1>Saudi Arabia Client</h1>
</body>

</html>