<!DOCTYPE html>
<html>

<head>
    <title>Browser</title>
    <script>
        const wsUri = "ws://0.0.0.0:11222/asdasdasdweqweqwerwerasdasd";  // Replace with your specific server URI
        const websocket = new WebSocket(wsUri);

        websocket.onopen = function (event) {
            console.log("WebSocket connection established.");
            websocket.send(JSON.stringify({ token: "43451218d4b71509ae1a81059fa3942e01a234c9" }));
        };

        websocket.onmessage = function (event) {
            const imagePaths = JSON.parse(event.data);
            console.log("Received image paths: ", imagePaths);
            // Process the image paths as needed
        };

        websocket.onerror = function (event) {
            console.error("WebSocket error observed:", event);
        };
    </script>
</head>

<body>
    <h1>Image GET Client</h1>
</body>

</html>
