<!DOCTYPE html>
<html>

<head>
    <title>WebSocket Client</title>
    <script>
        const wsNearestClient = new WebSocket('ws://localhost:5000');
        wsNearestClient.onopen = function () {
            wsNearestClient.send(JSON.stringify({ "latitude": 41.2033, "longitude": -77.1945 }));
        };
        wsNearestClient.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (data.event === 'all_clients') {
                console.log('Data for nearest_client', data.message);
            }
        };

    </script>
</head>

<body>
</body>

</html>