<!DOCTYPE html>
<html>

<head>
  <title>Tashkent Client</title>
  <script>
    const wsNearestClient = new WebSocket('ws://localhost:5000');
    wsNearestClient.onopen = function () {
      wsNearestClient.send(JSON.stringify({ "latitude": 41.2995, "longitude": 69.2401 }));
    };
    wsNearestClient.onmessage = function (event) {
      const data = JSON.parse(event.data);
      if (data.event === 'nearest_client') {
        console.log('Data for nearest_client:', data.context);
      } else if (data.event === 'all_clients') {
        console.log('Data for all_clients:', data.context);
      }
    };

  </script>
</head>

<body>
  <h1>Tashkent Client</h1>
</body>

</html>