<!DOCTYPE html>
<html>

<head>
    <title>Browser</title>
    <script>
        const wsNearestClient = new WebSocket('ws://localhost:5000');
        wsNearestClient.onopen = function () {
            wsNearestClient.send(JSON.stringify({ "latitude": 55.7558, "longitude": 37.6176, "state": "web" }));
        };
        wsNearestClient.onmessage = function (event) {
            const data = JSON.parse(event.data);
            console.log(data)
        };

    </script>
</head>

<body>
    <h1>Web Browser Client</h1>
</body>

</html>